.header {
    border-radius: 30px;
    margin: 2% 5%;
    padding: 1% 2%;
    background-image: url(../assets/header.png);
    background-size: cover;
    background-color:rgb(235, 235, 255);
    box-shadow: 0 10px 40px 1px #d8dffc;
  }
  
  .header span {
    color: #228dcf;
    font-weight:550;
  }

  @media only screen and (max-width: 700px) {
    .header {
        margin-bottom: 50px;
    }
}